/*********************************
 Header
**********************************/
@use "../modules" as m;

.header {
  @include m.flex($gap: 50px, $ai: center, $jc:center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 40px;
  // background: m.$white;
  z-index: 100;
  user-select: none;
  @include m.transition(background-color);
  @include m.mqMax {
    height: 50px;
    padding: 0 20px;
    justify-content: flex-end;
  }

  .admin-bar & {
    top: 32px;
  }

  .is-menu-opened &, .is-scrolled & {
   background-color: m.$white;
  }

  &__logo {
    max-height: 70px;
    pointer-events: none;
    @include m.mqMax {
      max-height: 50px;
    }
  }

  &__nav {
    flex: 1;
    @include m.flex($gap: 50px, $ai: center, $jc: center);
    @include m.mqMax {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: calc(100vh - 100%);
      overflow-y: scroll;
      background: m.$white;
      opacity: 0;
      visibility: hidden;
      @include m.transition(opacity, visibility);

      .admin-bar & {
        top: calc(100% + 32px);
        height: calc(100vh - (100% - 32px));
      }

      .is-menu-opened & {
        opacity: 1;
        visibility: visible;
        background-color: m.$white;
      }
    }
  }
}

/* Menu */
.menu {
  @include m.flex($gap: 30px, $ai: center, $jc: flex-end);
  &__ttl{
    text-transform: uppercase;
    color: m.$white;
    @include m.mqMax {
      color: m.$black;
    }

    .is-scrolled & {
      color: m.$black;
    }
  }
  @include m.mqMax{
    flex-direction: column;
  }
 &__link {
    position: relative; // needed for the pseudo-element

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0; 
      width: 0; 
      height: 2px; 
      background-color: m.$gray02; 
      transition: width 0.3s ease;
    }

    &:hover {
      &::after {
        width: 100%;
      }
      
     
    }
  }
}

/* Menu Bar */
.menu-bar {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 40px;
  cursor: pointer;

  &::before,
  &::after,
  &__middle {
    content: '';
    position: absolute;
    left: 50%;
    width: 100%;
    height: 2px;
    background: m.$white;
    transform: translate(-50%, -50%);
    @include m.transition(top, transform, opacity);
  }
  
  &::before {
    top: calc(50% - 10px);

    .is-menu-opened & {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      background: m.$black;
    }

    .is-scrolled & {
      background: m.$black;
    }
  }

  &__middle {
    top: 50%;

    .is-menu-opened & {
      opacity: 0;
      background: m.$black;
    }
    .is-scrolled & {
      background: m.$black;
    }
  }

  &::after {
    top: calc(50% + 10px);

    .is-menu-opened & {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      background: m.$black;
    }
    .is-scrolled & {
      background: m.$black; 
    }
  }
}