/*********************************
 Lists
**********************************/
@use "../modules" as m;

.list-work{
  @include m.flex($ai:center,$jc:center,$gap:20px 40px,$fw:wrap);
  margin-top: 50px;
  &__img{
    aspect-ratio: 320/250;
    max-width: 320px;
    width: 100%;
    pointer-events: none;
  }
  &__item{
    &:nth-child(n+4){
      margin-top: 20px;
    }
  }
  &__ttl{
    font-size: 2rem;
    text-align: center;
    color: m.$white;
    font-weight: 500;
    letter-spacing: .04em;
    margin-top: 10px;
  }
}

.list-about{
  margin-top: 30px;
  @include m.flex($ai:stretch,$jc:flex-start,$gap:20px,$fw:wrap);
  @include m.mqMax(499px){
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__item{
    width: 100%;
    // aspect-ratio: 1/1;
    flex: 1;
    padding: 20px 20px;
    max-width: 210px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    transition: 
    transform 0.4s ease,
    box-shadow 0.4s ease;

    &:hover {
      transform: translateY(-8px) rotateX(6deg) rotateY(-6deg);
      box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
    }
  }
 
  &__img{
    max-height: 26px;
  }
  &__ttl,
  &__txt{
    color: m.$white;
    margin-top: 20px;

  }
  &__ttl{
    font-weight: 700;
    font-size: 2rem;
  }
  &__txt{
    line-height: 1.5;
    white-space: normal;   
    overflow-wrap: anywhere;   
    word-break: break-word;
  }
}
.list-services{
  margin-top: 60px;
  @include m.flex($ai:stretch,$jc:center,$gap:40px,$fw:wrap);
  @include m.mqMax{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  &__img{
    max-width: 60px;
    background-color: #bac964;
    padding: 8px;
    border-radius: 10px;
  }
  &__item{
    flex: 1;
    max-width: 340px;
    width: 100%;
    @include m.flex($ai:stretch,$gap:20px,$fd:column,$jc:stretch);
    &:hover{
      .list-services__link{
        transform: translate(-5px, -5px);
        box-shadow: 10px 0 10px m.$white;
      }
    }
  }
  &__link{
    flex: 1;
    // display: block;
    background-color: m.$gray02;
    padding: 40px 20px;
    border-radius: 4px;
    @include m.transition(transform);
    display: flex;
    flex-direction: column;
  }
  &__ttl{
    font-size: 2.2rem;
    letter-spacing: .04em;
    margin-block: 20px;
  }
  &__txt{
    font-size: 1.6rem;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.4);
  }
  &__wrap{
    flex: 1; // take all available space inside the card
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }
  &__link-btn{
    display:block;
    margin: 20px auto ;
    max-width: fit-content;
    color: #bac964;
    i{
      margin-left: 5px;
    }
  }
}